.home {
  background-color: var(--dark-blue);
}

.home h1 {
  padding-top: 0.8em;
}

.home-headings {
  margin-top: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.home-headings h5 {
  font-weight: 600;
}
